<ion-header>
  <ion-toolbar>
    <ion-title>
      duoc aplicacion
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card *ngIf="isMobile" class="ion-padding">
    <ion-card-header class="ion-padding">
      Estás en un dispositivo móvil.
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="descargarApk()" expand="full" >Descargar APK</ion-button>
      Contenido específico para dispositivos móviles.
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="!isMobile" class="ion-padding">
    <ion-card-header class="ion-padding">
      Estás en una computadora.
    </ion-card-header>
    <ion-card-content>
      Contenido específico para computadoras.
      <img src="assets/icon/frame.png" alt="Imagen">
    </ion-card-content>
  </ion-card>
</ion-content>
